.vscode/
package.json
node_modules/

# Django
*.sqlite3

# Byte-compiled
membership/__pycache__/
membership/migrations/__pycache__/
membershipdb/__pycache__/
membership/management/__pycache__/
membership/management/commands/__pycache__/

# Internal
tmp/
membershipdb/gunicorn_conf
static/

