{% extends "base.html" %}

{% block breadcrumb %}
  <ol class="breadcrumb my-1">
    <h1 class="breadcrumb-item active">Login</h1>
  </ol>
{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

    <div class="card mb-3 box-shadow text-center">
      
        <div class="card-body">
            <h1 class="card-title pricing-card-title"></h1>
            <ul class="list-unstyled mt-3 mb-4">
            <li>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    
                    <div>
                      <td>{{ form.username.label_tag }}</td>
                      <td>{{ form.username }}</td>
                    </div>
                    <div>
                      <td>{{ form.password.label_tag }}</td>
                      <td>{{ form.password }}</td>
                    </div>
                    
                    <div>
                      <input type="submit" value="login" />
                      <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                    </form>

            </li>
            </ul>
        </div>
    </div>

{% endblock %}