{% load static %}<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{% block title %}MembershipDB{% endblock %}</title>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
      <!-- Bootstrap core CSS -->
      <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  
      <!-- Custom styles for this template -->
      <link href="membership.css" rel="stylesheet">
  </head>  

  <body>

    {% block top %}
    {% endblock %}

    <div class="container">
      <ol class="breadcrumb my-4"> 
        <div>
            <img src="/static/carpentries-mdb-hex-white.png" height="100px">
        </div>
        {% block breadcrumb %}
        {% endblock %}
      </ol> 
      {% block content %}
      {% endblock %}
    </div>
    <br>
    <div class="container">
        <footer id="footer-content">
            <div id="footer">
                <div class="row">
                    <div class="col-6">
                        <h5 class="shadow-black">About The Carpentries</h5>
                        <p class="shadow-black"> The Carpentries is a fiscally sponsored project of
                            <a href='http://communityin.org/'>Community Initiatives</a>, a registered 501(c)3 non-profit organisation based in California,
                            USA. We are a global community teaching foundational computational and data science skills to
                            researchers in academia, industry and government.
                            <a href="https://carpentries.org/about/">More ›</a>
                    </div>
                    <div class="col-3">
                        <h5 class="shadow-black">Services</h5>
                        <ul class="no-bullet shadow-black">
                            <li>
                                <a href="https://carpentries.org/contact/" title="Contact">Contact</a>
                                <li>
                                    <a href="https://carpentries.org/feed.xml" title="Subscribe to RSS Feed">RSS</a>
                                    <li>
                                        <a href="https://carpentries.org/atom.xml" title="Subscribe to Atom Feed">Atom</a>
                                        <li>
                                            <a href="https://carpentries.org/sitemap.xml" title="Sitemap for Google Webmaster Tools">sitemap.xml</a>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h5 class="shadow-black">Links</h5>
                        <ul class="no-bullet shadow-black">
                            <li>
                                <a href="https://docs.carpentries.org/topic_folders/policies/code-of-conduct.html" target="_blank"
                                    title="Code of Conduct">Our Code of Conduct</a>
                                <li>
                                    <a href="https://docs.carpentries.org/topic_folders/policies/privacy.html" target="_blank"
                                        title="Privacy Policy">Our Privacy Policy</a>
                                    <li>
                                        <a href="https://software-carpentry.org/" target="_blank" title="Software Carpentry">Software Carpentry website</a>
                                        <li>
                                            <a href="http://www.datacarpentry.org/" target="_blank" title="Data Carpentry">Data Carpentry website</a>
                                            <li>
                                                <a href="https://info.carpentries.org/" target="_blank" title="FAQs">Frequently Asked Questions</a>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
  </body>
</html>

