{% load static %}<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{% block title %}MembershipDB{% endblock %}</title>
  
      <!-- Bootstrap core CSS -->
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  
      <!-- Custom styles for this template -->
      <link href="membership.css" rel="stylesheet">
  </head>  

  <body>

    {% block top %}
    {% endblock %}
    <div class="jumbotron text-center">
        <h1>MembershipDB</h1>
    </div>
    <div class="text-center">
        <img src="~/carpentries-mdb-hex-white.png" >
    </div>

    <div class="container">
      <ol class="breadcrumb my-4">
        {% block breadcrumb %}
        {% endblock %}
      </ol> 
      {% block content %}
      {% endblock %}
    </div>
    <div class="container">
        <footer id="footer-content" class="bg-grau">
            <div id="footer">
                <div class="row">
                    <div class="medium-6 large-5 columns">
                        <h5 class="shadow-black">About The Carpentries</h5>
                        <p class="shadow-black"> The Carpentries is a fiscally sponsored project of
                            <a href='http://communityin.org/'>Community Initiatives</a>, a registered 501(c)3 non-profit organisation based in California,
                            USA. We are a global community teaching foundational computational and data science skills to
                            researchers in academia, industry and government.
                            <a href="https://carpentries.org/about/">More ›</a>
                    </div>
                    <div class="small-6 medium-3 large-3 large-offset-1 columns">
                        <h5 class="shadow-black">Services</h5>
                        <ul class="no-bullet shadow-black">
                            <li>
                                <a href="https://carpentries.org/contact/" title="Contact">Contact</a>
                                <li>
                                    <a href="https://carpentries.org/feed.xml" title="Subscribe to RSS Feed">RSS</a>
                                    <li>
                                        <a href="https://carpentries.org/atom.xml" title="Subscribe to Atom Feed">Atom</a>
                                        <li>
                                            <a href="https://carpentries.org/sitemap.xml" title="Sitemap for Google Webmaster Tools">sitemap.xml</a>
                        </ul>
                    </div>
                    <div class="small-6 medium-3 large-3 columns">
                        <h5 class="shadow-black">Links</h5>
                        <ul class="no-bullet shadow-black">
                            <li>
                                <a href="https://docs.carpentries.org/topic_folders/policies/code-of-conduct.html" target="_blank"
                                    title="Code of Conduct">Our Code of Conduct</a>
                                <li>
                                    <a href="https://docs.carpentries.org/topic_folders/policies/privacy.html" target="_blank"
                                        title="Privacy Policy">Our Privacy Policy</a>
                                    <li>
                                        <a href="https://software-carpentry.org/" target="_blank" title="Software Carpentry">Software Carpentry website</a>
                                        <li>
                                            <a href="http://www.datacarpentry.org/" target="_blank" title="Data Carpentry">Data Carpentry website</a>
                                            <li>
                                                <a href="https://info.carpentries.org/" target="_blank" title="FAQs">Frequently Asked Questions</a>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
  </body>
</html>

