{% extends 'base.html' %}
{% load static %}

{% block banner %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal text-light">
      <!-- <a class="text-light" href="{% url 'home' %}">The Carpentries Memberships</a> -->
      <a href="{% url 'home' %}">
        <i class="fa fa-home"> </i>
        <a class="text-light">The Carpentries Memberships</a>
      </a>
    </h5>
    <nav class="my-2 my-md-0 mr-md-4">
        <a class="p-2 text-light" href="{% url 'membership_list' %}">Memberships</a>
        <a class="p-2 text-light" href="{% url 'organization_list' %}">Organizations</a>
        <a class="p-2 text-light" href="{% url 'contact_list' %}">Contacts</a>
        <a class="p-2 text-light" href="{% url 'term_list' %}">Terms</a>
        <a class="p-2 text-light" href="{% url 'note_list' %}">Notes</a>
    </nav>
    <a class="btn btn-outline-primary" href="{% url 'logout' %}">Log out</a>
  </div>
{% endblock %}
