{% extends 'base.html' %}

{% load static %}

{% block title %}Contacts{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb my-1">
    <h1 class="breadcrumb-item active">Contacts</h1>
  </ol>
{% endblock %}

{% block content %}
  <div class="container">
      <div class="btn btn-outline-primary" href="#">Add new</div>
      <br>
      <br>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Lastname</th>
          <th>Organization</th>
          <th>Title</th>
          <th style="text-align:center;">Primary Contact</th>
        </tr>
      </thead>
      <tbody>
        <p>
        {% for contact in contacts %}
          <tr>
            <td>
                <a href="{% url 'contact_id' contact.id %}">{{ contact.name }}</a>
            </td>
            <td>
                <a href="{% url 'contact_id' contact.id %}">{{ contact.last_name }}</a>
            </td>
            <td>{{ contact.organization }}</td>           
            <td>{{ contact.title }}</td>
            <td style="text-align:center;"><div class="form-check">
                <input type="checkbox" class="form-check-input center" id="contactPrimary" {% if contact.member_contact %}checked="checked"{% endif %}> 
            </div></td>
          </tr>
        {% endfor %}
        </p>
      </tbody>
    </table>
  </div>
{% endblock %}
