{% extends 'base.html' %}
{% load static %}

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal text-light">
      <a class="text-light" href="{% url 'home' %}">The Carpentries Memberships</a>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-light" href="#">Features</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
  </div>

  <div class="jumbotron text-center">
      <h1>MembershipDB</h1>
      <p>Information about the page.</p>
  </div>

{% block content %}

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card mb-4 box-shadow text-center">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">ORGANIZATIONS</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                            <li></li>
                            </ul>
                            <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'organization_list' %}'">List       
                            </button> <br><br>
                            <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'organization_list' %}'">New        
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 box-shadow text-center">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">MEMBERSHIPS</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                            <li></li>
                            </ul>
                            <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'membership_list' %}'">Go
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 box-shadow text-center">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">CONTACTS</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                            <li></li>
                            </ul>
                            <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'contact_list' %}'">Go</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="card mb-4 box-shadow text-center">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">TERMS</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                            <li></li>
                            </ul>
                            <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'term_list' %}'">Go</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-4 box-shadow text-center">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">NOTES</h4>
                            </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                            <li></li>
                            </ul>
                            <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'note_list' %}'">Go</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div> 

{% endblock %}