{% extends 'base_banner.html' %}
{% load static %}

{% block title %}Memberships{% endblock %}

{% block breadcrumb %}   
<ol class="breadcrumb my-1">
    <h1 class="breadcrumb-item active">Memberships</h1>
  </ol>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="btn btn-outline-primary" href="#">Add new</div>
        <br>
        <br>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Organization</th>
          <th>Membership Type</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <p>
        {% for membership in memberships %}
          <tr>
            <td>
              <a href="{% url 'membership_id' membership.id %}">{{ membership.organization }}</a>
            </td>
            <td><small class="text-muted d-block">{{ membership.member_type }}</small></td> 
            <td><small class="text-muted d-block">{{ membership.status }}</small></td> 
          </tr>
        {% endfor %}
        </p>
      </tbody>
    </table>
  </div>

{% endblock %}