{% extends 'base.html' %}
{% block content %}
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Notes</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
  <div class="container">
      <ol class="breadcrumb my-4">
        <h1 class="breadcrumb-item active">Notes</h1>
      </ol>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Dates</th>
        </tr>
      </thead>
      <tbody>
        <p>
        {% for note in notes %}
          <tr>
            <td>{{ note.title }}</td>
            <td>{{ note.content|slice:"50" }}{% if note.content|length > 50 %}...{% endif %}</td>
            <td>{{ note.date_time }}</td>
          </tr>
        {% endfor %}
        </p>
      </tbody>
    </table>
  </div>
  </body>
</html>

{% endblock %}
