{% extends 'base_banner.html' %}
{% load static %}

{% block title %}Notes{% endblock %}

{% block breadcrumb %}
      <ol class="breadcrumb my-1">
        <h1 class="breadcrumb-item active">Notes</h1>
      </ol>
{% endblock %}

{% block content %}
<div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Dates</th>
        </tr>
      </thead>
      <tbody>
        <p>
        {% for note in notes %}
          <tr>
            <td>
                <a href="{% url 'note_id' note.id %}">{{ note.title }}</a>
            </td>
            <td>{{ note.content|slice:"50" }}{% if note.content|length > 50 %}...{% endif %}</td>
            <td>{{ note.date_time }}</td>
          </tr>
        {% endfor %}
        </p>
      </tbody>
    </table>
  </div>
{% endblock %}
