{% extends 'base.html' %}
{% load static %}

{% block title %}Terms{% endblock %}

{% block breadcrumb %}
      <ol class="breadcrumb my-1">
        <h1 class="breadcrumb-item active">Terms</h1>
      </ol>
{% endblock %}

{% block content %}
  <div class="container">
      <div class="btn btn-outline-primary" href="#">Add new</div>
      <br>
      <br>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Membership Type</th>
        </tr>
      </thead>
      <tbody>
        <p>
        {% for term in terms %}
          <tr>
            <td>
                <a href="{% url 'term_id' term.id %}">{{ term.mem_type }}</a>
            </td>
          </tr>
        {% endfor %}
        </p>
      </tbody>
    </table>
  </div>

{% endblock %}
